html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*{outline:0;-webkit-box-sizing:border-box;box-sizing:border-box}
body{color:#222;font-size:14px;line-height:1.4;font-family:"Open Sans","Microsoft JhengHei",sans-serif;margin:0;padding:0;background:#f3f3f3}
@media only screen and (min-width: 768px){body{font-size:16.8px}
}
a{color:#49A8FB;text-decoration:none}
a:hover{color:#5ABC2A}
::-moz-selection{color:#fff;background:#326917;text-shadow:none}
::selection{color:#fff;background:#326917;text-shadow:none}
.l-header .md-container{padding:0 16px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;display:-webkit-box;display:-ms-flexbox;display:flex}
@media only screen and (min-width: 768px){.l-header .md-container{padding:8px 24px}
}
.l-keyvisual{width:100%;height:300px;text-align:center;background:#000;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden;position:relative}
.l-keyvisual.kv-detail{height:150px}
.l-portfolio{margin:24px 0}
@media only screen and (min-width: 768px){.l-portfolio{margin:48px 0}
}
.l-portfolio .md-container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;display:-webkit-box;display:-ms-flexbox;display:flex}
.l-detail{margin:24px 0}
@media only screen and (min-width: 768px){.l-detail{margin:48px 0}
}
.l-footer{padding:16px;text-align:center}
.md-article{margin:8px}
.md-container{width:100%}
@media only screen and (min-width: 1025px){.md-container{max-width:1170px;margin:0 auto}
}
.footer-sns{text-align:center}
.footer-sns-item{color:#222;font-size:1.44rem;padding:8px;display:inline-block}
.footer-sns-item:hover{color:#888}
.footer-copyright{margin-top:16px;font-size:.8rem}
.md-gallery{margin:24px 0}
@media only screen and (min-width: 768px){.md-gallery{margin:48px 0}
}
.md-gallery-item{max-width:100%;margin:4px auto}
.md-keyvisual{width:100%;height:100%;top:0;right:0;bottom:0;left:0;background-size:cover;background-repeat:no-repeat;background-position:center center;-webkit-filter:blur(2px);filter:blur(2px);opacity:.8;position:absolute}
.md-keyvisual.kv-home{background-image:url(../images/head/head-home.png)}
.md-keyvisual.kv-strata{background-image:url(../images/head/head-strata.png)}
.md-keyvisual.kv-tibame{background-image:url(../images/head/head-tibame.png)}
.md-keyvisual.kv-asap{background-image:url(../images/head/head-asap.png)}
.md-keyvisual.kv-uitox{background-image:url(../images/head/head-uitox.png)}
.md-list{list-style:none}
.md-list-item{margin:4px 0;color:#222}
.md-list-item:before{content:"\2022";color:#888;margin-right:8px}
.md-nav{font-size:1.2rem;font-weight:600;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}
.md-nav .md-nav-item{color:#222;padding:16px 24px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.md-nav .md-nav-item:hover{color:#888}
.md-paragraph+.md-paragraph{margin-top:16px}
.md-portfolio-item{width:100%;max-width:100%;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;position:relative;display:block}
@media only screen and (min-width: 600px){.md-portfolio-item{width:50%;max-width:50%;-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%}
}
@media only screen and (min-width: 992px){.md-portfolio-item{width:33.33333%;max-width:33.33333%;-webkit-box-flex:0;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%}
}
.md-portfolio-item:after{content:"\0020";top:5px;right:5px;bottom:5px;left:5px;border:5px solid transparent;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position:absolute;z-index:1}
.md-portfolio-item:hover:after{top:0;right:0;bottom:0;left:0;border-color:#222}
.md-portfolio-item .md-thumbnail{overflow:hidden;position:relative;display:block;margin:4px 0}
.md-portfolio-item .md-thumbnail:before{display:block;content:"";width:100%;padding-top:75%}
@media only screen and (min-width: 600px){.md-portfolio-item .md-thumbnail{margin:8px}
}
.portfolio-caption{right:0;bottom:0;left:0;padding:8px 16px;color:#fff;background:rgba(0,0,0,0.5);position:absolute}
@media only screen and (min-width: 768px){.portfolio-caption{-webkit-transform:translateY(100%);transform:translateY(100%)}
.md-portfolio-item:hover .portfolio-caption{-webkit-animation:caption_moveout .3s forwards ease-in-out;animation:caption_moveout .3s forwards ease-in-out}
}
.portfolio-caption-title{font-size:1.44rem;font-weight:700}
.portfolio-caption-title+.portfolio-caption-comment{margin-top:4px}
@-webkit-keyframes caption_moveout{0%{-webkit-transform:translateY(100%);transform:translateY(100%)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes caption_moveout{0%{-webkit-transform:translateY(100%);transform:translateY(100%)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
.txt-title{color:#fff;font-size:2.2rem;line-height:1.2;font-weight:800;font-family:"Merriweather",serif;z-index:1}
@media only screen and (min-width: 768px){.txt-title{font-size:4rem}
}
.txt-caption{color:#fff;z-index:1}
.txt-title+.txt-caption{margin-top:16px}
.txt-subtitle{font-size:1.44rem;font-weight:700;margin-bottom:8px}
.md-paragraph+.txt-subtitle{margin-top:36px}
.md-thumbnail-content{top:0;left:0;right:0;bottom:0;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;overflow:hidden;position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex}
.md-thumbnail-image{min-width:100%;max-width:100%}

