#popup {
  .md-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: rgba(black,.7);
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 99;
  }
  &.is-active {
    .md-container {
      left: 0;
    }
  }
}