//font
$font-size: 14px;
$line-height: 1.4;

//theme
$font-content: "Open Sans","Microsoft JhengHei",sans-serif;
$font-title: "Merriweather",serif;
$color-primary: #49A8FB;
$color-secondary: #5ABC2A;
$color-foreground: #222;

//media query breakpoints
$screen-mobile-lg-min: 600px;
$screen-pad-md-min: 768px;
$screen-pad-lg-min: 992px;
$screen-desktop-min: 1025px;