//font
$font-size: 14px;
$line-height: 1.4;

//theme
$font-content: "Open Sans", sans-serif;
$font-title: "Exo",Impact,sans-serif;
$color-primary: #49A8FB;
$color-secondary: #62E3EF;
$color-foreground: white;

//media query breakpoints
$screen-mobile-lg-min: 600px;
$screen-pad-md-min: 768px;
$screen-pad-lg-min: 992px;
$screen-desktop-min: 1025px;