#popup .btn-close{width:70px;height:70px;top:100px;right:0;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;border-top-right-radius:5px;border-bottom-right-radius:5px;cursor:pointer;overflow:hidden;position:absolute;z-index:99}
@media only screen and (max-width: 768px){#popup .btn-close{top:0}
}
#popup .btn-close .txt{color:#fff;font-size:0.8em;font-weight:200;font-family:"Exo",Impact,sans-serif;letter-spacing:2px;right:14px;bottom:-20px;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;position:absolute}
#popup .btn-close:before,#popup .btn-close:after{content:"\0020";width:60px;top:30px;right:5px;border-top:#fff 1px solid;position:absolute}
#popup .btn-close:before{-webkit-transform:rotate(135deg);transform:rotate(135deg)}
#popup .btn-close:after{-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
#popup .btn-close:hover{background:#333;background:rgba(0,0,0,0.5)}
#popup .btn-close:hover .txt{bottom:0}
#popup .btn-close:hover:before{-webkit-animation-name:timesbefore;animation-name:timesbefore;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation-iteration-count:1;animation-iteration-count:1}
#popup .btn-close:hover:after{-webkit-animation-name:timesafter;animation-name:timesafter;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation-iteration-count:1;animation-iteration-count:1}

@-webkit-keyframes timesbefore{0%{-webkit-transform:rotate(135deg) translateX(50px);transform:rotate(135deg) translateX(50px)}
100%{-webkit-transform:rotate(135deg) translateX(0);transform:rotate(135deg) translateX(0)}
}
@keyframes timesbefore{0%{-webkit-transform:rotate(135deg) translateX(50px);transform:rotate(135deg) translateX(50px)}
100%{-webkit-transform:rotate(135deg) translateX(0);transform:rotate(135deg) translateX(0)}
}
@-webkit-keyframes timesafter{0%{-webkit-transform:rotate(-135deg) translateX(50px);transform:rotate(-135deg) translateX(50px)}
100%{-webkit-transform:rotate(-135deg) translateX(0);transform:rotate(-135deg) translateX(0)}
}
@keyframes timesafter{0%{-webkit-transform:rotate(-135deg) translateX(50px);transform:rotate(-135deg) translateX(50px)}
100%{-webkit-transform:rotate(-135deg) translateX(0);transform:rotate(-135deg) translateX(0)}
}