.md-keyvisual {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(2px);
  opacity: .8;
  position: absolute;
  &.kv-home {
    background-image: url(../images/head/home.png);
  }
  &.kv-about {
    background-image: url(../images/shareimg.jpg);
  }
  &.kv-working {
    background-image: url(../images/head/working.png);
  }
  &.kv-strata {
    background-image: url(../images/head/strata.png);
  }
  &.kv-tibame {
    background-image: url(../images/head/tibame.png);
  }
  &.kv-asap {
    background-image: url(../images/head/asap.png);
  }
  &.kv-uitox {
    background-image: url(../images/head/uitox.png);
  }
  &.kv-london {
    background-image: url(../images/head/london.png);
  }
  &.kv-origins1 {
    background-image: url(../images/head/origins1.png);
  }
  &.kv-new-talent {
    background-image: url(../images/head/new-talent.png);
  }
  &.kv-women-movie {
    background-image: url(../images/head/women-movie.png);
  }
  &.kv-origins2 {
    background-image: url(../images/head/origins2.png);
  }
  &.kv-elle-member-call-up {
    background-image: url(../images/head/elle-member-call-up.png);
  }
  &.kv-elle-august {
    background-image: url(../images/head/elle-august.png);
  }
  &.kv-origins3 {
    background-image: url(../images/head/origins3.png);
  }
  &.kv-paul-and-joe {
    background-image: url(../images/head/paul-and-joe.png);
  }
  &.kv-mufe2 {
    background-image: url(../images/head/mufe2.png);
  }
  &.kv-mufe1 {
    background-image: url(../images/head/mufe1.png);
  }
  &.kv-ie6-bye {
    background-image: url(../images/head/ie6-bye.png);
  }
}