* {
  outline: 0;
  box-sizing: border-box;
}
body {
  color: $color-foreground;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-content;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  @include RWD(pad_md) {
    font-size: $font-size * 1.2;
  }
}
a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}
::selection {
  color: #fff;
  background: darken($color-secondary,20);
  text-shadow: none;
}